[*.cs]

# IDE1006: Estilos de nombres
dotnet_diagnostic.IDE1006.severity = warning

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = warning

# Default severity for all analyzer diagnostics
dotnet_analyzer_diagnostic.severity = warning
